html,
body {
  min-height: 100%;
  margin: 0;
  font-family: "Merriweather", serif;
  font-size: 18px;
  line-height: 2;
}

.container {
  display: flex;
  flex-direction: column;
}

.left {
  min-height: 100vh;
  background: linear-gradient(50deg, #420096 0%, #00025c 100%);
  display: flex;
  align-items: center;
  flex-direction: column;
  font-family: "Merriweather", serif;
  color: white;
  padding: 50px 0;
}

.left .logo {
  max-width: 50%;
}

.left p, .left .form-wrapper {
  max-width: 450px;
  width: 80%;
  line-height: 2;
}

.form-info {
  font-size: 0.8rem;
}

.left p {

  margin-top: 50px;
}

.right {
  min-height: 100vh;
  background: linear-gradient(130deg, #fff2e1 -10%, #ffe2b9 100%);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: #00025c;
  font-family: -apple-system, BlinkMacSystemFont, Helvetica, sans-serif;
}

.right-header {
  width: calc(80% - 40px);
  max-width: 560px;
  border: none;
  margin: 20px 0;
  margin-bottom: 0;
  display: flex;
  align-items: center;
  color: white;
  padding: 10px 20px;
  background: linear-gradient(6deg, #420096 -50%, #00025c 150%);
}

.current-issue {
  margin: 0;
  padding: 0;
}

.current-issue  h1 {
  margin: 0;
  line-height: 1.5rem;
  font-size: 1.5rem;
  margin: 10px 0;
}

.current-issue h2 {
  margin: 10px 0;
  font-size: 1rem;
  font-weight: normal;
  line-height: 1rem;
}

.right-header .spacer {
  flex-grow: 1;
}

.right-header nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}

.right-header a {
  margin-left: 10px;
  font-size: 1rem;
}


.pitch {
  max-width: 500px;
  width: 80%;
}

a {
  color: white;
  transition: color 100ms ease-out;
}

a:hover {
  color: #ffac40;
}

.issues {
  margin-top: 20px;
}

.issues ol {
  list-style-type: none;
  padding: 0;
  color: white;
}

.issues li {
  text-align: center;
}

.issues a {
  text-decoration: none;
  border-bottom: 1px solid white;
  color: white;
}

form {
  text-align: center;
  display: flex;
}

input[type="email"], button {
  margin: 10px 0;
  font-family: "Merriweather", serif;
  font-size: 18px;
}

input[type="email"] {
  width: 100%;
  border-radius: 10px;
  border: 1px solid #080048;
  padding: 10px 20px;
  flex-grow: 1;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  transition: box-shadow 250ms ease-in;
}

input[type="email"]:hover,
input[type="email"]:active,
input[type="email"]:focus {
  box-shadow: -3px 5px #c45000;
}

button {
  background-color: #ffcf82;
  border-radius: 10px;
  color: #00025c;
  text-decoration: none;
  border: 1px solid #080048;
  transition: box-shadow 250ms ease-in;
  margin: 10px 0;
  cursor: pointer;
  padding: 10px 20px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  text-shadow: 0 0 5px #ffe3b0;
}

button:hover,
button:active,
button:focus {
  color: #00025c;
  box-shadow: 3px 5px #c45000;
}

.button .button-icon {
  padding-left: 10px;
}

.curated-by {
  text-align: center;
}

.separator {
  margin: 10px 0;
  margin-bottom: 0;
}

.social ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.social {
  margin: 10px 0;
}

.social .button-icon {
  position: relative;
  top: 5px;
  margin-right: 15px;
}

.curated-by {
  margin: 10px 0;
}

.preview {
  width: 80%;
  max-width: 600px;
  border: none;
  margin-bottom: 20px;
}

@media only screen and (max-width: 800px) {
  .container {
    flex-direction: column;
  }

  .left,
  .right {
    min-height: 50vh;
  }
}

@media only screen and (min-width: 801px) {
  .container {
    flex-direction: row;
  }
  .left,
  .right {
    width: 50vw;
  }

  .left{
    background: linear-gradient(50deg, #420096 0%, #00025c 70%);
    background-size: 100% 100vh;
    background-attachment: fixed;
  }
}
