html,
body {
  height: 100%;
  margin: 0;
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
}

.blue {
  height: 100vh;
  background-color: rgb(5, 9, 94);
}

.beige {
  height: 100vh;
  background-color: rgb(255, 244, 226);
}

.orange {
  height: 100vh;
  background-color: rgb(254, 209, 150);
}
